body{
  background-color: #0087ca;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}

p {
  font-size: 30px;
  color: white;
}

@media handheld {
    #whatsappshare {
        display: block;
    }

    p {
      font-size: 30px;
      color: yellow;
    }

}